body {
    background-color: #2e2e2e;
    color: white;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

header {
    background-color: #2e2e2e;
    justify-content: center;
    font-weight: 600;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
}

nav {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

nav p a {
    color: #FF5733;
}

.logo {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    transition: 0.5s;
}

.logo:hover {
    color: #FF5733;
    transition: 0.5s;
}

span {
    color: #FF5733;
}

nav ul {
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
    color: white;
}

/*=============== PRINCIPAL =============*/

.principal p {
    font-size: 0.9em;
    margin: 1em 0;
}

.principal h1 {
    color: #FF5733;
    font-size: 2.1em;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}

.conteudo {
    background-color: #2e2e2e;
}

.conteudo .principal {
    width: 50%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.principal {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3em 0;
}

.photo {
    order: -1;
    width: min(350px, 75vw);
    margin: 0 0 2rem;
}

.ui {
    background-color: #202020;
}

.home-botao {
    margin-top: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 0.9em;
    
}

.link-botao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #FF5733;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    transition: 0.3s;
}

.link-botao:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
